<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>Каталог</title>

        <link href="../../../../static/scc/WomanCross.css" rel="stylesheet" type="text/css">

        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

        <title>Магазин спортивной одежды "Спорт-Лидер"</title>
    </head>

    <body>

        <header class="header">

            <div class="logo">
                <!-- логотип расположен здесь -->
                <img src="../../static/img/логотип/logotip.jpg" alt="Логотип">
            </div>


            <div class="store-name">
                <h1>Магазин спортивной одежды "Спорт-Лидер"</h1>
            </div>

            <div class="registration">
                <a th:href="@{/shop/registration}">войти</a>
                <p th:text="${message}"></p>
            </div>

        </header>


        <nav class="navigation">
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/catalog">Каталог</a></li>
                <li><a href="/contacts">Контакты</a></li>
                <li><a th:href="@{/checkPerson}" th:method="get">Корзина</a></li>
                <li><a th:href="@{/deliveryForm}" th:method="get">Доставка</a></li>
            </ul>
        </nav>

        <div class="product-container">
            <img class="кросовкиженскиесерые3"
                src="../../../img/кросовки/кросовки%20женские/3%20кросовки%20женские%20серые%20Nike.jpeg.jpg"
                alt="фото женских кросовок серого цвета 3">
            <div class="product-details">
                <h3>Товар 3: Кросовки женские, цвет серый, фирмы: "Nike"</h3>
                <p class="item">Цена:4700</p>
                <br>
                <p class="item">Размеры:</p>

                <form th:action="@{/showThingWithSameNameColorGenderWomanCross3/choiseSize}" method="post">
                    <p class="item">Размеры:</p>
                    <select name="selectedThingId">

                        <option value="" selected disabled hidden>Выберите размер</option>
                        <option th:each="thing : ${availableSizes}"
                                th:value="${thing.thing_id}"
                                th:text="${'размер: ' + thing.thing_size + ' (в наличии - ' + thing.quantity + ' шт)'}">
                        </option>

                    </select>

                    <button type="submit">Добавить выбранный товар в корзину</button>

                    <div class="success-message" th:if="${successAdding == true}"> <!-- Проверяем, если товар успешно добавлен в корзину пользователю -->
                        <p>Товар успешно добавлен в Вашу корзину</p>
                    </div>

                    <div class="error-message" th:if="${isAvailable == false}"> <!-- Проверяем, если список доступных размеров пуст -->
                        <p th:text="'Товар с размером ' + ${unavailableSize} + ' закончился! Выберите другой товар или размер.'"></p>
                    </div>

                    <div class="error-message" th:if="${thingsIsAbsent == true}"> <!-- проверяем, если товар закончился -->
                        <p th:text="'Товар ' + ${selectedThing} + ' c размером ' + ${unavailableSize} + ' закончился! Выберите другой товар или размер.'"></p>
                    </div>

                </form>

                <br>
                <a class="return-cart" th:href="@{/checkPerson}" th:method="get">Переход в Вашу корзину</a>
                <br>

                <br>
                <a class="return" th:href="@{/AddedHtmlSites/indexCrossWoman}">Возврат к каталогу спортивных женских кросовок</a>
            </div>
        </div>

    </body>

    <footer class="footer">
        <p class="права">&copy; "Все права защищены"</p>
    </footer>

</html>

