.div-cart-settins {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}


.h1-cart-settins {
    color: #333;
}

.form-cart-settins {
    margin-bottom: 20px;
}

.label-cart-settins {
    margin-right: 10px;
}

.input-cart-settins {
    margin-bottom: 10px;
}

.button-cart-settins {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.ul-cart-settins {
    list-style-type: none;
    padding: 0;
}

.li-cart-settins {
    margin-bottom: 10px;
}

.span-cart-settins {
    margin-right: 10px;
}

.p-cart-settins {
    margin-top: 20px;
}



.form-cart-settins, .ul-cart-settins, .p-cart-settins {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button-cart-settins:hover {
    background-color: #45a049;
}
