/* Стили для кнопок */
button {
    float: left;
    margin-right: 10px; /* Отступы между кнопками */
    padding: 8px; /* Отступы внутри кнопок */
    width: 110px; /* Ширина кнопок */
    color: #00ffd2;
}

/* Дополнительные стили для кнопок с определенными классами */
button.edit {
    background-color: #4CAF50; /* Зеленый цвет для кнопки редактирования */
}

button.Delete {
    background-color: #f44336; /* Красный цвет для кнопки удаления */
}

button.repeat {
    background-color: #008CBA; /* Синий цвет для кнопки "All people" */
}

/* Стили для вывода параметров из базы данных */
body {
    font-size: 16px; /* Размер текста по умолчанию */
    color: #40A; /* Цвет текста */
}

p {
    margin-bottom: 10px; /* Отступ между параграфами */
}