<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>Каталог</title>

        <link href="../../static/scc/indexSportSuitWoman.css" rel="stylesheet" type="text/css">


        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

        <title>Магазин спортивной одежды "Спорт-Лидер"</title>
    </head>

    <body>

        <header class="header">

            <div class="logo">
                <!-- логотип расположен здесь -->
                <img src="../../static/img/логотип/logotip.jpg" alt="Логотип">
            </div>


            <div class="store-name">
                <h1>Магазин спортивной одежды "Спорт-Лидер"</h1>
            </div>

            <div class="registration">
                <a th:href="@{/shop/registration}">войти</a>
                <p th:text="${message}"></p>
            </div>

        </header>


        <nav class="navigation">
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/catalog">Каталог</a></li>
                <li><a href="/contacts">Контакты</a></li>
                <li><a th:href="@{/checkPerson}" th:method="get">Корзина</a></li>
                <li><a th:href="@{/deliveryForm}" th:method="get">Доставка</a></li>
            </ul>
        </nav>



        <div class="container">

            <div class="item">
                <h3>Товар 1:</h3>
                <img class="кросовкиженские1"
                    src="../img/кросовки/кросовки%20женские/1%20кросовки%20женские%20розовые%20Nike.jpeg.jpg"
                    alt="фото женских кросовок розового цвета 1">
                <h4>Кросовки женские, цвет розовый, фирмы: "Nike"</h4>
                <a class="a-catalog"
                    th:href="@{/AddedHtmlSites/CatalogOfArticle/WomanCross1}"
                    target="_blank">Преход по ссылке - на Товар 1
                </a>
                <br>
                <br>
                <a class="return" th:href="@{/catalog}">Возврат к разделу каталог</a>
            </div>

            <div class="item">
                <h3>Товар 2:</h3>
                <img class="кросовкиженские2"
                    src="../img/кросовки/кросовки%20женские/2%20кросовки%20женские%20белые%20Nike.jpeg.jpg"
                    alt="фото женских кросовок белого цвета 2">
                <h4>Кросовки женские, цвет белый, фирмы: "Nike"</h4>
                <a class="a-catalog"
                    th:href="@{/AddedHtmlSites/CatalogOfArticle/WomanCross2}"
                    target="_blank">Преход по ссылке - на Товар 2
                </a>
                <br>
                <br>
                <a class="return" th:href="@{/catalog}">Возврат к разделу каталог</a>
            </div>

            <div class="item">
                <h3>Товар 3:</h3>
                <img class="кросовкиженские3"
                    src="../img/кросовки/кросовки%20женские/3%20кросовки%20женские%20серые%20Nike.jpeg.jpg"
                    alt="фото мужских кросовок серого цвета 3">
                <h4>Кросовки женские, цвет серый, фирмы: "Nike"</h4>
                <a class="a-catalog"
                    th:href="@{/AddedHtmlSites/CatalogOfArticle/WomanCross3}"
                    target="_blank">Преход по ссылке - на Товар 3
                </a>
                <br>
                <br>
                <a class="return" th:href="@{/catalog}">Возврат к разделу каталог</a>
            </div>

        </div>

    </body>

    <footer class="footer">
        <p class="права">&copy; "Все права защищены"</p>
    </footer>

</html>