<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--    <head>-->
<!--        <meta charset="UTF-8">-->
<!--        <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--        <link href="../../static/scc/shop.css" rel="stylesheet" type="text/css">-->
<!--        <title>Корзина</title>-->
<!--        <link rel="stylesheet" type="text/css" th:href="@{/../../static/scc/cart.css}" />-->
<!--    </head>-->

<!--    <body>-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="../../static/scc/shop.css" rel="stylesheet" type="text/css">

        <link rel="stylesheet" type="text/css" th:href="@{/../../static/scc/cart.css}"/>

        <title>Корзина</title>

        <link rel="icon" type="image/x-icon" href="/favicon.ico">

    </head>

    <body>
        <header class="header">

            <div class="logo">
                <!-- логотип расположен здесь -->
                <img src="../../static/img/логотип/logotip.jpg" alt="Логотип">
            </div>

            <div class="store-name">
                <h1>Магазин спортивной одежды "Спорт-Лидер"</h1>
            </div>

            <div class="registration">
                <a th:href="@{shop/registration}">войти</a>
                <p th:text="${message}"></p>
            </div>

        </header>


        <nav class="navigation">
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/catalog">Каталог</a></li>
                <li><a href="/contacts">Контакты</a></li>
                <li><a th:href="@{/checkPerson}" th:method="get">Корзина</a></li>
                 <li><a href="#">Доставка</a></li>
            </ul>
        </nav>

        <div class="div-cart-settins">
            <h1 class="h1-cart-settins">Ваша Корзина:</h1>
            <div class="div-cart-settins" th:if="${currentUser != null}">
                <h1 class="h1-cart-settins">Добро пожаловать, <span th:text="${currentUser.name}"></span> <span th:text="${currentUser.surname}"></span>! Ваш персональный id = <span th:text="${currentUserId}"></span></h1>
                <form class="form-cart-settins" th:action="@{/addThing}" method="post">
                    <!-- Поле для выбора товара из выпадающего списка товаров -->
                    <select class="select-cart-settins" name="selectedThingId">
                        <option class="option-cart-settins" th:each="thing : ${things}" th:value="${thing.thing_id}">
                            <span class="span-cart-settins" th:text="${'id товара-' + thing.thing_id + '; название товара-' + thing.thing_name + '; цвет товара-' + thing.thing_color + ';  размер товара-' + thing.thing_size + '; цена товара-' + thing.thing_price + 'рублей'}"></span>
                        </option>
                    </select>

                    <!-- скрытое поле с идентификатором текущего пользователя -->
                    <input class="input-cart-settins" type="hidden" name="currentUserId" th:value="${currentUserId}"/>

                    <!-- кнопка отправки товара в корзину из выпадающего списка -->
                    <button class="button-cart-settins" type="submit">Добавить выбранный товар</button>
                </form>

                <h2 class="h2-cart-settins">Список добавленных товаров в корзину:</h2>
                <form class="form-cart-settins" th:action="@{/removeThing}" method="post">
                    <ul class="ul-cart-settins">
                        <li class="li-cart-settins" th:each="thing : ${listOfThingsOfCurrentUser}" th:value="thing.thing_id">
                            <span class="span-cart-settins" th:text="${'id товара-' + thing.thing_id + '; название товара-' + thing.thing_name + '; цвет товара-' + thing.thing_color + ';  размер товара-' + thing.thing_size + '; цена товара-' + thing.thing_price + 'рублей'}"></span>

                            <input class="input-cart-settins" type="hidden" name="thing_id" th:value="${thing.thing_id}"/>

                            <input class="input-cart-settins" type="hidden" name="currentUserId" th:value="${currentUserId}"/>

                            <button class="button-cart-settins" type="submit">Удалить товар из корзины:</button>

                        </li>
                    </ul>
                </form>

                    <h3 class="h3-cart-settins">Информация о корзине:</h3>
                    <p class="p-cart-settins">Общее количество товаров в корзине в штуках: <span th:text="${listOfThingsOfCurrentUser.size()}"> шт</span></p>
                    <p class="p-cart-settins">Общая стоимость товаров в корзине в рублях: <span th:text="${totalCost}"></span> рублей</p>
                    <br>
                    <a class="a-cart-settins" href="/">Возврат к странице: "Главная"</a>
                    <br>
                    <br>
                    <a class="a-cart-settins" href="/catalog">Возврат к странице: "Каталог"</a>
                    <br>
                    <br>
                    <a class="a-cart-settins" href="/contacts">Возврат к странице: "Контакты"</a>
                    <br>
                    <br>
                    <a class="a-cart-settins" href="#">Возврат к странице: "Доставка"</a>
                    <br>
                    <br>
            </div>

            <!--Если пользователь не зарегистрирован, показываем сообщение или предложение зарегистрироваться-->
            <div class="div-cart-settins" th:if="${currentUser == null}">
                <p>
                    Пожалуйста,
                    <a class="a-cart-settins" th:href="@{/shop/registration}">зарегистрируйтесь</a>
                    , чтобы начать покупки.
                </p>
            </div>
        </div>
    </body>
    <footer class="footer">
        <p class="права">&copy; "Все права защищены"</p>
    </footer>
</html>
