<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить новую карту оплаты</title>
    <link href="../../static/scc/addPaymentCartToPerson.css" rel="stylesheet" type="text/css">
</head>
<body>

        <div class="container">

            <div class="header">
                <h2>Добавить новую карту оплаты</h2>
            </div>

            <!-- Форма для добавления новой карты оплаты -->
            <form th:action="@{/inputCartItems}" method="post">

            <label for="cardNumber">Номер карты:</label>
            <input type="text" id="cardNumber" name="cardNumber" required><br>

            <label for="expirationDate">Дата истечения срока:</label>
            <input type="text" id="expirationDate" name="expirationDate" placeholder="MM/YY" required><br>

            <label for="securityCode">Код безопасности:</label>
            <input type="text" id="securityCode" name="securityCode" required><br>

            <!-- Скрытое поле с идентификатором текущего пользователя -->
            <input type="hidden" name="currentUserId" th:value="${currentUserId}">
            <!-- Скрытое поле с идентификатором товара (если нужно) -->
            <input type="hidden" name="thing_id" th:value="${thing_id}">

            <input class="input-cart-settings" type="hidden" name="card_id" th:value="card_id">

            <input class="input-cart-settins" type="hidden" name="cart_id" th:value="${cart_id}"/>

            <!-- Кнопка для добавления новой карты оплаты -->
            <input type="submit" value="Купить товар">
        </form>

            <div class="footer">
                <a href="/">На главную</a>
            </div>
    </div>
</body>
</html>








