/* Стили для вывода параметров из базы данных */
body {
    font-size: 16px; /* Размер текста по умолчанию */
    color: #40A; /* Цвет текста */
}

p {
    margin-bottom: 10px; /* Отступ между параграфами */
}